<div class="row search">
    <div class="col-lg-6 pull-right">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Busca cualquier cosa ...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Buscar</button>
          </span>
        </div>
    </div>
</div>
<div class="col-sm-4 col-lg-4 col-md-4" ng-repeat="product in $ctrl.products.results">
    <product-detail></product-detail>
</div>
<pager 	ng-if="$ctrl.data_loaded" 
		data="$ctrl.products"
		pagination="$ctrl.pagination">
</pager>