body, html, .container-fluid {
  height: 100%;
  background: #000 url(../img/bg.jpg) center no-repeat fixed;
  background-size: cover;
}

/***********************************************************************
*  OPAQUE NAVBAR SECTION
***********************************************************************/
.opaque-navbar {
  background-color: rgba(0,0,0,0.5);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
  height: 60px;
  border-bottom: 0px;
  transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
  background-color: black;
  height: 60px;
  transition: background-color .5s ease 0s;
}

ul.dropdown-menu {
  background-color: black;
}

.nav:before {
  display: block;
}

body > .container-fluid .container .row {
  padding-top: 80px;
}
.jumbotron {
  background: none;
  color: #fff;
  margin-bottom: -10px;
}

.jumbotron h1{
  font-size: 2.5em;
}

.jumbotron a {
  color: red;
}
.navbar ul{
  padding-top: 1em;
}
.navbar a {
  font-size: .89em;
  text-transform: uppercase;
}
.navbar-brand {
  text-align: center;
}
.navbar-brand > span:last-child{
  display:block;
  font-size:.9em;
} 
.navbar-brand img {
  margin:0 auto;
}
.navbar-brand small{
  display:block;
  margin-top:5px !important;
}
.video {
  max-width: 500px;
}
.video iframe {
  margin:0 auto;
  min-height:214px
}
.center-block {
  margin-left:auto;
  margin-right:auto;
  display:block;
}

#bodybg {
  opacity:.047;
  position:absolute;
  top:-20px;
}

small span{
  display:inline-block;
}
small span:last-child{
  margin-left:-5px;
}

@media(min-width:600px) and (max-width: 768px) {
  .navbar-toggle {
    display: none!important;
  }
  .collapse {
    display: block!important;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-nav>li {
    float:left!important;
  }
  .navbar-header {
    float: left;
  }
}

@media (max-width: 599px) {
  .navbar-brand > span:last-child {
    display:inline-block;
    margin:4px; 
  }
  .navbar ul {
    padding-top:0;
  }
  .navbar-brand img {
    height: 40px;
    float: left;
    margin-top: -7px;
  }
  .navbar-brand small{
    font-size: .8em;
    float: left;
  }
  .navbar-collapse ul{
    margin-right:0px;
    background: #000;
  }
  .opaque-navbar {
    background: black;
    height: 60px;
    transition: background-color .5s ease 0s;
  }

  body > .container-fluid .container .row {
    padding-top: 42px;
  }


}
